<div class="container">
  <h2>C'est le moment de partager autour de soi</h2>
    <p>Mercifood est une application web qui 
      permet de partager de la nourriture autour 
      de soi. Un utilisateur souhaitant cuisiner 
      aura la possibilité de mettre à la disposition 
      d’autres utilisateurs, proches de chez lui, 
      les informations relatives à son plat. 
      Ces informations contiennent les aliments 
      qui composent son plat à partager, le nombre 
      de personnes maximum, il aura aussi la 
      possibilité d’ajouter des photos. Les 
      utilisateurs intéressés pourront ensuite 
      réserver le plat qui leur convient, et 
      auront la possibilité de laisser une 
      évaluation sur leur expérience.
    </p>
</div>