<div class="auth"> 
  <div class="title">Sign Up</div> 
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="field">
        <input
          type="text"
          class="form-control"
          name="firstname"
          [(ngModel)]="form.firstname"
          required
          minlength="2"
          maxlength="20"
          #firstname="ngModel"
        />
        <label for="firstname">Firstname</label>
        <div class="alert-danger" *ngIf="firstname.errors && f.submitted">
          <div *ngIf="firstname.errors.required">Firstname is required</div>
          <div *ngIf="firstname.errors.minlength">
            Firstname must be at least 2 characters
          </div>
          <div *ngIf="firstname.errors.maxlength">
            Firstname must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="field">
        <input
          type="text"
          class="form-control"
          name="lastname"
          [(ngModel)]="form.lastname"
          required
          minlength="2"
          maxlength="20"
          #lastname="ngModel"
        />
        <label for="lastname">Lastname</label>
        <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
          <div *ngIf="lastname.errors.required">Lastname is required</div>
          <div *ngIf="lastname.errors.minlength">
            Lastname must be at least 2 characters
          </div>
          <div *ngIf="lastname.errors.maxlength">
            Lastname must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="field">
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <label for="username">Username</label>
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="field">
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <label for="email">Email</label>
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>

      <div class="field">
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <label for="password">Password</label>
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="content">
        <div class="checkbox">
          <input type="checkbox" id="read-agree">
          <label for="read-agree">I read and agree to</label>
        </div>
        <div class="term-link"><a href="#">Terms & Conditions</a></div>
      </div>
      <div class="field"><input type="submit" value="CREATE ACCOUNT"></div>
      <div class="signin-link">
          Alread have account ? <a [routerLink]="'/login'">Sign in</a>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
</div>