<h4>Chat</h4>
<div class="chat_page" style="margin-top: 7px;">
    <div class="chat-left">
        <div class="new_conversation">
            <h6>Nouvelle discussion</h6>
            <input id="recipient" type="search" class="form-control" placeholder="Nom d'utilisateur"
                [(ngModel)]="message.recipient" #recipient="ngModel" name="recipient"/>
        </div>


        <div class="chat_conversations">
            <h6>Conversations</h6>
            <ul class="list-group" id="interlocutor-list">
                <li class="list-group-item" *ngFor="let conversation of chat"
                    (click)="setActiveConversation(conversation)">
                    {{ conversation.interlocutor }}
                </li>
            </ul>
        </div>
    </div>
    <div class="chat-right">
        <div class="message_history">
            <ul class="chat-messages-show-list" id="message-list">
            </ul>
        </div>
        <div class="message_create">
            <input class="message_input" type="text" [(ngModel)]="message.text">
            <button class="btn btn-success" (click)="sendMessage()">Envoyer</button>
        </div>
    </div>

</div>