<div class="list row" style="margin-top: 7px;">
        <h4>User info</h4>
        <div>
          <label><strong>Username:</strong></label> {{ user.username }}
        </div>
        <div>
            <label><strong>Prenom:</strong></label> {{ user.firstname }}
        </div>
        <div>
            <label><strong>Nom:</strong></label> {{ user.lastname }}
        </div>
        <div>
            <label><strong>Email:</strong></label> {{ user.email }}
        </div>
        <div>
          <label><strong>Ne peut pas manger:</strong></label> {{ user.cantEat }}
        </div>
        <div>
            <label><strong>Bio:</strong></label> {{ user.bio }}
        </div>
  </div>
