<div class="auth">
  <div class="title">Share a plate</div>
  <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >

    <div class="field">
      <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          #name="ngModel"
      />
      <label for="name">Name</label>
      <div
          class="alert alert-danger"
          role="alert"
          *ngIf="name.errors && f.submitted"
        >
          Name is required!
        </div>
    </div>

    <div class="field">
      <input
          type="text"
          class="form-control"
          name="quantity"
          [(ngModel)]="form.quantity"
          required
          minlength="1"
          #quantity="ngModel"
        />
        <label for="quantity">Quantity</label>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="quantity.errors && f.submitted"
        >
          <div *ngIf="quantity.errors.required">Quantity is required</div>
          <div *ngIf="quantity.errors.minvalue">
            Quantity must be at least 1
          </div>
        </div>
    </div>

    <div class="field">
      <input
          type="text"
          class="form-control"
          name="number"
          [(ngModel)]="form.number"
          required
          minlength="1"
          #number="ngModel"
        />
        <label for="number">Number</label>
    </div>

    <div class="field">
      <input type="file"
       id="photo" name="photo"
       accept="image/png, image/jpeg">
    </div>


    <div class="field">
      <input
          type="text"
          class="form-control"
          name="comment"
          [(ngModel)]="form.comment"
          required
          #comment="ngModel"
      />
      <label for="comment">Comment</label>
    </div>

    <div class="field"><input type="submit" value="SHARE"></div>

  </form>

  <!-- <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in as {{ roles }}.
  </div> -->
</div>
